<!DOCTYPE html>
<html lang="en">
<head>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="/signin.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Carpool</title>
</head>
<body class="homePage">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>	
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
				<ul style="list-style: none;">
					<h1>Welcome to Carpool Finder</h1>
					<li>
						<a href="/login"><button class="btn btn-lg btn-primary btn-block">Login</button></a>
					</li></br>
					<li>
						<a href="/signup"><button class="btn btn-lg btn-primary btn-block">Sign Up</button></a>
					</li>
				</ul>
			</div>	
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>	
		</div>
	</div>
</body>
</html>