<!DOCTYPE html>
<html lang="en">
<head>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Chat</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>	
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
				<ul style="list-style: none;">
					<h2><%= add.name %> Contact Info</h2>
					<li>Email: <a href="mailto:<%= person.email %>?subject=Carpool Inquery"><%= person.email %></a></li>
				</ul>
			</div>	
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>	
		</div></br></br></br>
		<div class="row">
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>	
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
				<a href="/map"><button class="btn btn-lg btn-primary btn-block">Back to Map</button></a>
			</div>	
			<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4"></div>	
		</div>
	</div>
</body>
</html>